---
import "~/styles/global.css"
import "~/styles/fonts.css"

const {
  title = "{title}",
  fullTitle = title + " :: KCCTきらら同好会",
  description = "KCCTきらら同好会のサイト",
} = Astro.props.frontmatter || Astro.props
---

<html lang="ja">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{fullTitle}</title>
  <meta name="description" content={description} />
  <meta property="og:title" content={fullTitle} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:image" content={Astro.site + "icon.png"} />
</head>
<body>
  <main>
    <header>
      <ul>
        <li><a href="/">Top</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/activities/">Activities</a></li>
        <li><a href="https://twitter.com/KCCTkirara" target="_blank">Twitter</a></li>
      </ul>
    </header>
    <hr />
<slot />
    <hr />
    <footer>
      <div>
        <a href="http://www.dokidokivisual.com/" target="_blank">
          <!-- もとは200x60 -->
          <img class="border pix" src="https://www.yuyushiki.net/core_sys/images/banner/00000002.jpg" width="200" height="60" /></a>
        <a href="https://www.tbs.co.jp/anime/machikado/1st/">
          <!-- もとは800x300 -->
          <img class="border" src="https://www.tbs.co.jp/anime/machikado/img/footer_banner_01@2x.jpg" width="160" height="60" /></a>
      </div>
      <div>
        <small>&copy; 2024-{new Date().getFullYear()} KCCTきらら同好会</small>
      </div>
    </footer>
  </main>
</body>
</html>
